<amexio-card [footer]="true" [header]="true" [show]="true" [header-align]="'left'" [footer-align]="'right'">
    <amexio-header>
        details
    </amexio-header>
    <amexio-body>
        <amexio-datagrid [title]="'Data'" [page-size]="10" [data]="list_Data" [enable-column-fiter]="true">
        </amexio-datagrid>

    </amexio-body>

    <amexio-action>
        <amexio-button [label]="'Save'" [icon]="'fa fa-save fa 2x'" [type]="'green'" [tooltip]="'save'" [size]="'small'" [form-bind]="'save'">
        </amexio-button>

    </amexio-action>
</amexio-card>